<?xml version="1.0" encoding="utf-8"?>
<configuration>

  <appSettings>
    <add key="WSGI_HANDLER" value="acad_usage_measurement.app" />
    <add key="PYTHONPATH" value="E:\WebServices\adsk_usage_statistics" />
  </appSettings>

  <system.webServer>

    <handlers>
      <add name="PythonHandler"
           path="*"
           verb="*"
           modules="FastCgiModule"
           scriptProcessor="E:\WebServices\adsk_usage_statistics\venv\Scripts\python.exe|E:\WebServices\adsk_usage_statistics\venv\Lib\site-packages\wfastcgi.py"
           resourceType="Unspecified"
           requireAccess="Script" />
    </handlers>

    <fastCgi>
      <application
          fullPath="E:\WebServices\adsk_usage_statistics\venv\Scripts\python.exe"
          arguments="E:\WebServices\adsk_usage_statistics\venv\Lib\site-packages\wfastcgi.py">

        <environmentVariables>
          <add name="WSGI_HANDLER" value="acad_usage_measurement.app" />
          <add name="PYTHONPATH" value="E:\WebServices\adsk_usage_statistics" />
        </environmentVariables>

      </application>
    </fastCgi>

  </system.webServer>
</configuration>